name: "Terraform Infrastructure Change Management Pipeline with GitHub Actions"
 
on:
 push:
   branches:
   - main

 pull_request:
   branches:
   - main
  
 workflow_dispatch:
 
env:
 # verbosity setting for Terraform logs
 TF_LOG: DEBUG
 # Credentials for deployment to AWS
 AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESSKEY }}
 AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRETKEY }}
 
jobs:
 terraform:
   name: "Terraform Infrastructure Change Management"
   runs-on: ubuntu-latest


   steps:
     - name: Checkout the repository to the runner
       uses: actions/checkout@v2
    
     - name: Terraform init
       id: init
       run: terraform init
 
     - name: Terraform format
       id: fmt
       run: terraform fmt -check
    
     - name: Terraform validate
       id: validate
       run: terraform validate
 
     - name: Terraform plan
       run: terraform plan -no-color -input=false
       continue-on-error: false
 
     - name: Terraform Apply
       run: terraform apply -auto-approve -input=false